/vendor
/*.phar
/builds
/tools
/tests/logs

.DS_Store
*.sw*
.env
.envrc
.idea
.vagrant
Vagrantfile
/tests/config/logfile.txt
/tests/config/.phpunit.result.cache
/t3
/terminus
reports/*
.phpunit.result.cache
/package
/Formula
*.deb
Brewfile.lock.json
/.phive
/.php-cs-fixer.cache
