parameters:
	ignoreErrors:
		-
			message: '#^Variable \$info might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Collections/Backups.php

		-
			message: '#^Method Pantheon\\Terminus\\Collections\\TerminusCollection\:\:fetch\(\) invoked with 1 parameter, 0 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Collections/Organizations.php

		-
			message: '#^Call to an undefined method Pantheon\\Terminus\\Collections\\SiteOrganizationMemberships\:\:getOrganizationMemberships\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Collections/SiteOrganizationMemberships.php

		-
			message: '#^Call to an undefined method Pantheon\\Terminus\\Collections\\UserOrganizationMemberships\:\:getOrganizationMemberships\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Collections/UserOrganizationMemberships.php

		-
			message: '#^Method Pantheon\\Terminus\\Commands\\Auth\\WhoamiCommand\:\:whoAmI\(\) should return Consolidation\\OutputFormatters\\StructuredData\\PropertyList but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Commands/Auth/WhoamiCommand.php

		-
			message: '#^Function cd not found\.$#'
			identifier: function.notFound
			count: 1
			path: src/Commands/Local/DockerizeCommand.php

		-
			message: '#^Variable \$project on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 2
			path: src/Commands/Self/Plugin/SearchCommand.php

		-
			message: '#^Variable \$framework on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Commands/Upstream/ListCommand.php

		-
			message: '#^Variable \$workflow_description might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Commands/Workflow/WaitCommand.php

		-
			message: '#^Variable \$matches in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Config/TerminusConfig.php

		-
			message: '#^Variable \$name on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Config/TerminusConfig.php

		-
			message: '''
				#^Call to deprecated method setEscaper\(\) of class Twig\\Extension\\EscaperExtension\:
				since Twig 3\.10$#
			'''
			identifier: method.deprecated
			count: 1
			path: src/Helpers/CommandCoverageReport.php

		-
			message: '#^Instantiated class Pantheon\\Terminus\\Helpers\\TerminusCommand not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Helpers/CommandCoverageReport.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Helpers/CommandCoverageReport.php

		-
			message: '#^Instantiated class Pantheon\\Terminus\\Helpers\\Utility\\ReflectionClass not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Helpers/Utility/DocBlock.php

		-
			message: '#^Instantiated class Pantheon\\Terminus\\Helpers\\Utility\\ReflectionFunction not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Helpers/Utility/DocBlock.php

		-
			message: '#^Instantiated class Pantheon\\Terminus\\Helpers\\Utility\\ReflectionMethod not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Helpers/Utility/DocBlock.php

		-
			message: '#^Instantiated class Pantheon\\Terminus\\Helpers\\Utility\\ReflectionProperty not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Helpers/Utility/DocBlock.php

		-
			message: '#^Variable \$from_env_id might not be defined\.$#'
			identifier: variable.undefined
			count: 2
			path: src/Models/Environment.php

		-
			message: '#^Access to an undefined property Pantheon\\Terminus\\Models\\PrimaryDomain\:\:\$id\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/PrimaryDomain.php

		-
			message: '#^Pantheon\\Terminus\\Models\\PrimaryDomain\:\:getUrl\(\) calls parent\:\:getUrl\(\) but Pantheon\\Terminus\\Models\\PrimaryDomain does not extend any class\.$#'
			identifier: class.noParent
			count: 1
			path: src/Models/PrimaryDomain.php

		-
			message: '#^Method Pantheon\\Terminus\\Models\\SSHKey\:\:delete\(\) should return array but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Models/SSHKey.php

		-
			message: '#^Access to an undefined property Pantheon\\Terminus\\Models\\Site\:\:\$framework\.$#'
			identifier: property.notFound
			count: 1
			path: src/Models/Site.php

		-
			message: '#^Class Pantheon\\Terminus\\Models\\WorkflowLogsCollection not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Models/Site.php

		-
			message: '#^Method Pantheon\\Terminus\\Models\\Site\:\:getWorkflowLogs\(\) has invalid return type Pantheon\\Terminus\\Models\\WorkflowLogsCollection\.$#'
			identifier: class.notFound
			count: 1
			path: src/Models/Site.php

		-
			message: '#^Variable \$env in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: src/Models/Site.php

		-
			message: '#^Call to static method configure\(\) on an unknown class VCR\\VCR\.$#'
			identifier: class.notFound
			count: 2
			path: src/Terminus.php

		-
			message: '#^Call to static method eject\(\) on an unknown class VCR\\VCR\.$#'
			identifier: class.notFound
			count: 1
			path: src/Terminus.php

		-
			message: '#^Call to static method insertCassette\(\) on an unknown class VCR\\VCR\.$#'
			identifier: class.notFound
			count: 1
			path: src/Terminus.php

		-
			message: '#^Call to static method turnOff\(\) on an unknown class VCR\\VCR\.$#'
			identifier: class.notFound
			count: 1
			path: src/Terminus.php

		-
			message: '#^Call to static method turnOn\(\) on an unknown class VCR\\VCR\.$#'
			identifier: class.notFound
			count: 1
			path: src/Terminus.php

		-
			message: '#^Unsafe usage of new static\(\)\.$#'
			identifier: new.static
			count: 1
			path: src/Terminus.php
