## This provides the env vars you will need for local testing.
## to use this file,
## 1. `cp tests/.envrc.dist .envrc`
## 2. `direnv allow`

## a string MACHINE TOKEN allowing access to a pantheon platform user
## export TERMINUS_TOKEN=1234567890ABCDEFGHIJKL

## a string of the Pantheon platform user uuid
export TERMINUS_USER=$(terminus auth:whoami --format=json | jq -r .id)

## a string of the Drupal site that will be tested. The user above
## must have access to this site.
export TERMINUS_SITE=terminus-test-site

## a string of the WordPress site that will be tested. The user above
## must have access to this site.
export TERMINUS_SITE_WP=terminus-test-site-wp

## A string of the Wordpress Multisite/Network site that will be tested.
export TERMINUS_SITE_WP_NETWORK=terminus-test-site-wp-network

## a string of the Pantheon Organization that will be tested. The user above
## must have access to this organization.
export TERMINUS_ORG=terminus-test-org

