<phpunit
  bootstrap="../unit_tests/bootstrap.php"
  colors="true"
  >
  <testsuites>
    <testsuite>
      <file>tests/unit_tests/test-session.php</file>
      <directory prefix="spec-" suffix=".php">../unit_tests/</directory>
      <directory prefix="test-" suffix=".php">../unit_tests/</directory>
    </testsuite>
  </testsuites>
  <listeners>
    <listener class="PHPUnit_Util_Log_VCR" file="../../vendor/php-vcr/phpunit-testlistener-vcr/PHPUnit/Util/Log/VCR.php" />
  </listeners>
  <filter>
    <whitelist>
        <directory suffix=".php">../../php/</directory>
        <directory suffix=".php">../../tests/</directory>
        <directory suffix=".php">../../utils/</directory>
        <exclude>
            <directory suffix=".php">../../vendor/</directory>
        </exclude>
    </whitelist>
  </filter>    
</phpunit>
