<phpunit
  bootstrap="../unit_tests/bootstrap.php"
  colors="true"
  >
  <testsuites>
    <testsuite name="unit">
      <directory suffix="Test.php">../unit_tests/</directory>
    </testsuite>
  </testsuites>
  <coverage>
    <include>
      <directory suffix=".php">../../src/</directory>
      <directory suffix=".php">../../utils/</directory>
    </include>
    <exclude>
        <directory suffix=".php">../../vendor/</directory>
    </exclude>
  </coverage>
</phpunit>
