<phpunit
  bootstrap="../unit_tests/bootstrap.php"
  colors="true"
  >
  <testsuites>
    <testsuite>
      <directory suffix="Test.php">../unit_tests/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
        <directory suffix=".php">../../src/</directory>
        <directory suffix=".php">../../utils/</directory>
        <exclude>
            <directory suffix=".php">../../vendor/</directory>
        </exclude>
    </whitelist>
  </filter>    
</phpunit>
