# .env.dist

#Ideally these values will be the pantheon site name and local path
export PROJECT_PATH=$(eval realpath .)
export PROJECT_NAME=d9-solr8

# If you want to host your own versions of these containers,
# feel free to change these values.
# If you don't know what you're doing, leave them alone.
export DOCKER_IMAGE_HOST=quay.io
export DOCKER_IMAGE_ORG=demigods
export DOCKER_PROJECT_PREFIX=demigods
export DOCKER_CONTAINER_PREFIX=${DOCKER_IMAGE_HOST}/${DOCKER_IMAGE_ORG}

## container names referenced in the docker-compose.yml
## The dockerfiles are available on Github

## https://github.com/stovak/demigods-nginx
export NGINX_CONTAINER=${DOCKER_CONTAINER_PREFIX}/nginx:latest

## https://github.com/stovak/demigods-php
## export PHP_CONTAINER=${DOCKER_CONTAINER_PREFIX}/php:php-7.4
export PHP_CONTAINER=${DOCKER_CONTAINER_PREFIX}/php:php-8.0

## https://github.com/stovak/demigods-mysql
export MYSQL_CONTAINER=${DOCKER_CONTAINER_PREFIX}/mysql:latest

## https://github.com/stovak/demigods-solr
export SOLR_CONTAINER=${DOCKER_CONTAINER_PREFIX}/solr:latest

## Basic Vars
export ENV=local
export BABEL_ENV=legacy
export NODE_ENV=development

## COMPOSER
export COMPOSER_ALLOW_SUPERUSER=1
export DRUPAL_MAJOR_VERSION=9

## MYSQL
## These are values INSIDE the MySQL Container
export MYSQL_ROOT_PASSWORD=drupal
export MYSQL_USER=drupal-database-user
export MYSQL_PASSWORD=password
export MYSQL_DATABASE=drupal8

## REDIS
## Inside the redis container
export CACHE_HOST=redis
export CACHE_PORT=6379

## DRUPAL_SPECIFIC
## Inside the PHP container
export PREPROCESS_CSS=FALSE
export PREPROCESS_JS=FALSE
export DB_DRIVER=mysql
export DB_HOST=mysql
export DB_NAME=drupal8
export DB_USER=drupal-database-user
export DB_PASSWORD=password
export DB_PORT=3306
export DRUPAL_SYSTEM_LOGGING_ERROR_LEVEL=verbose
export DRUPAL_HASH_SALT=lDRPmMvzNIBzmBs4bvLXBot/r4uju6XZiiON3UolHQc=
export DRUSH_OPTIONS_URI=localhost:8080

## SOLR Container Vars
## Inside the solr container
export SOLR_HOST=solr8
export SOLR_PORT=8983
export SOLR_PATH=/
export SOLR_CORE=${PROJECT_NAME}


# Pantheon SearchAPI Module Vars
# Provided for the PHP container to communicate
# with the solr container.
export PANTHEON_INDEX_HOST=${SOLR_HOST}
export PANTHEON_INDEX_PORT=${SOLR_PORT}
export PANTHEON_INDEX_PATH=${SOLR_PATH}
export PANTHEON_INDEX_CORE=${SOLR_CORE}
export PANTHEON_INDEX_SCHEME=http
