  $aliases['{{site_name}}.{{env_name}}'] = array(
    'uri' => '{{env_label}}-{{site_name}}.pantheonsite.io',
    'remote-host' => 'appserver.{{env_label}}.{{site_id}}.drush.in',
    'remote-user' => '{{env_label}}.{{site_id}}',
    'ssh-options' => '-p 2222 -o "AddressFamily inet"',
    'path-aliases' => array(
      '%files' => 'files',
      '%drush-script' => 'drush',
     ),
  );
